<!-- profile.component.html -->
<div class="profile">
    <h2>Upload Profile Picture</h2>
    <form (ngSubmit)="onUpload($event)">
      <div class="form-group">
        <input type="file" (change)="onFileSelected($event)" accept="image/*" />
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!selectedFile">
        Upload
      </button>
    </form>
  
    <!-- Display the profile picture if it exists -->
    <div *ngIf="user?.profilePic">
      <img
        [src]="'http://localhost:3000' + user?.profilePic"
        alt="Profile Picture"
        style="width: 200px; height: 200px"
      />
    </div>
  
    <div *ngIf="uploadSuccess">
      <p>Profile picture uploaded successfully!</p>
    </div>
  </div>
  