<div class="container mt-5">
  <h1 class="text-center">Dashboard</h1>

  <div class="mb-4">
    <h2 class="text-center">Welcome, {{ user?.username }}</h2>
    <p class="text-center">
      Role:
      {{
        isSuperAdmin()
          ? "SuperAdmin"
          : isGroupAdmin()
          ? "GroupAdmin"
          : "ChatUser"
      }}
    </p>
  </div>

  <!-- group/superadmin view -->
  <div *ngIf="isSuperAdmin() || isGroupAdmin()">
    <h3 class="text-center">
      {{ isSuperAdmin() ? "SuperAdmin Panel" : "GroupAdmin Panel" }}
    </h3>

    <div class="card my-4">
      <div class="card-header text-center">
        <h2>Your Groups</h2>
      </div>
      <div class="card-body">
        <ul class="list-group">
          <li
            *ngFor="let group of groups"
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            {{ group.name }}
            <div *ngIf="isSuperAdmin() || group.admins.includes(user._id)">
              <a [routerLink]="['/groups', group._id]" class="btn btn-link">
                Manage group
              </a>
              <button
                (click)="leaveGroup(group._id)"
                class="btn btn-warning btn-sm"
              >
                Leave Group
              </button>
              <button
                (click)="deleteGroup(group._id)"
                class="btn btn-danger btn-sm"
              >
                Delete Group
              </button>
            </div>
            <div *ngIf="!isSuperAdmin() && !group.admins.includes(user._id)">
              <a [routerLink]="['/groups', group._id]" class="btn btn-link">
                View Group
              </a>
              <button
                (click)="leaveGroup(group._id)"
                class="btn btn-warning btn-sm"
              >
                Leave Group
              </button>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div *ngIf="isSuperAdmin() || isGroupAdmin()" class="card my-4">
      <div class="card-header text-center">
        <h2>Create a New Group</h2>
      </div>
      <div class="card-body">
        <input
          [(ngModel)]="newGroupName"
          class="form-control mb-2"
          placeholder="Enter group name"
        />
        <button class="btn btn-primary" (click)="createGroup()">
          Create Group
        </button>
      </div>
    </div>

    <!-- superadmin only section -->
    <div *ngIf="isSuperAdmin()">
      <!-- pending requests-->
      <div class="card my-4">
        <div class="card-header text-center">
          <h2>Pending Account Requests</h2>
        </div>
        <div class="card-body">
          <ul class="list-group">
            <li
              *ngFor="let pendingUser of pendingUsers"
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              <div>
                <input
                  [(ngModel)]="pendingUser.username"
                  placeholder="Assign username"
                  class="form-control mb-2"
                />
                <input
                  [(ngModel)]="pendingUser.email"
                  placeholder="Assign email"
                  class="form-control mb-2"
                />
              </div>
              <button
                (click)="completeRegistration(pendingUser)"
                class="btn btn-success btn-sm"
              >
                Complete Registration
              </button>
            </li>
          </ul>
        </div>
      </div>

      <!-- user management -->
      <div class="card my-4">
        <div class="card-header text-center">
          <h2>Manage Users</h2>
        </div>
        <div class="card-body">
          <ul class="list-group">
            <li
              *ngFor="let user of users"
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              {{ user.username }} ({{ user.email }})
              <button
                (click)="deleteUser(user._id)"
                class="btn btn-danger btn-sm"
              >
                Delete User
              </button>
            </li>
          </ul>
        </div>
      </div>

      <!-- promote user -->
      <div class="card my-4">
        <div class="card-header text-center">
          <h2>Promote User</h2>
        </div>
        <div class="card-body">
          <input
            [(ngModel)]="promotionUserId"
            class="form-control mb-2"
            placeholder="Enter User ID"
          />
          <select [(ngModel)]="promotionRole" class="form-control mb-2">
            <option value="GroupAdmin">Promote to GroupAdmin</option>
            <option value="SuperAdmin">Promote to SuperAdmin</option>
          </select>
          <button class="btn btn-primary" (click)="promoteUser()">
            Promote User
          </button>
          <p *ngIf="promotionMessage" class="mt-2">
            {{ promotionMessage }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- chatuser View -->
<div *ngIf="isChatUser() && !isSuperAdmin() && !isGroupAdmin()" class="card my-4">
  <div class="card-header text-center">
    <h2>View Groups</h2>
  </div>
  <div class="card-body">
    <ul class="list-group">
      <li
        *ngFor="let group of groups"
        class="list-group-item d-flex justify-content-between align-items-center"
      >
        {{ group.name }}
        <div>
          <a [routerLink]="['/groups', group._id]" class="btn btn-link">
            View Group
          </a>
          <button
            (click)="leaveGroup(group._id)"
            class="btn btn-warning btn-sm"
          >
            Leave Group
          </button>
        </div>
      </li>
    </ul>
  </div>
</div>


  <!-- available groups -->
  <div class="card my-4">
    <div class="card-header text-center">
      <h2>Available Groups</h2>
    </div>
    <div class="card-body">
      <ul
        class="list-group"
        *ngIf="
          availableGroups && availableGroups.length > 0;
          else noGroupsAvailable
        "
      >
        <li
          *ngFor="let group of availableGroups"
          class="list-group-item d-flex justify-content-between align-items-center"
        >
          {{ group.name }}
          <button
            (click)="requestToJoin(group._id)"
            class="btn btn-primary btn-sm"
          >
            Request to Join
          </button>
        </li>
      </ul>
      <ng-template #noGroupsAvailable>
        <p class="text-muted text-center">No groups available to join.</p>
      </ng-template>
    </div>
  </div>

  <!-- logout delete own account -->
  <div class="text-center mt-4">
    <button class="btn btn-secondary" (click)="logout()">Logout</button>
    <button class="btn btn-danger ml-2" (click)="selfDelete()">
      Delete My Account
    </button>
  </div>
</div>
